---
layout: default
---

<div class="art">
  <div class="art-header">
    <h1 class="art-title">{{ page.title }}</h1>
    <a href="{{ '/' | relative_url }}#art" class="back-link"><span class="back-link-arrow">&larr; </span>Back to Home</a>
  </div>
  

  {% if page.tagline %}
  <div class="art-tagline">
    {{ page.tagline | markdownify }}
  </div>
  {% endif %}



  <div class="art-image-container">
    {% assign display_img = page.display_image | default: page.image %}
    {% if display_img contains '.html' %}
      <iframe src="{{ display_img | relative_url }}" frameborder="0" class="art-iframe" allowfullscreen></iframe>
    {% else %}
      <img src="{{ display_img | relative_url }}" alt="{{ page.title }}" class="art-detail-image">
    {% endif %}
  </div>
  
  {% if page.description %}
  <div class="art-description">
    {{ page.description | markdownify }}
  </div>
  {% endif %}


  <div class="art-content">
    {{ content }}
  </div>
  
  <div class="art-navigation bottom-navigation">
    <a href="{{ '/' | relative_url }}#art" class="back-link">&larr; Back to Home</a>
  </div>
</div> 